[push]
  default = current
[user]
  name = Name
  email = myemail.com
[core]
  editor = /usr/bin/vim
[pull]
  rebase = true
  default = current
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  dump = cat-file -p
  type = cat-file -t
  ref = show-ref
